<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaiRimokon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MaiRimokon.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherCarrierHigh" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="OtherCarrierLow" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="OtherLeaderHigh" serializeAs="String">
                <value>3200</value>
            </setting>
            <setting name="OtherLeaderLow" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="OtherPulse0Modulation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherPulse0High" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="OtherPulse0Low" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="OtherPulse1Modulation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherPulse1High" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="OtherPulse1Low" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="OtherStopHigh" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="OtherStopLow" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="OtherRepeatHigh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherRepeatLow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherFrameInterval" serializeAs="String">
                <value>0</value>
            </setting>
        </MaiRimokon.Properties.Settings>
    </userSettings>
</configuration>